@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    overflow: auto;
}

body{
    font-family: meiryo, sans-serif;
    background-color: #edede3;
    margin: 0;
    background-image: url(./images/back.jpg);
}

h1{
    margin-top: 0;
    /* border-bottom: solid 5px orange; */
    margin-bottom: 0;
}

h2{
    clear: both;
    border-bottom: solid 5px #c39f4a;
    margin-top: 30px;
}

p{
    line-height: 1.5;
}


/* リンク */
a{
    color: #b77b3c
}

a:hover{
    color: orange;
}

a img{
    border: none;
}

/* 関連記事へのリンク */
aside{
    border: solid 2px #d6c588;
    border-radius: 5px;
    padding: 10px;
    background-color: #edede3;
    margin-top: 40px;
}

aside h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #c39f4a;
    border-bottom: 1px dotted #c39f4a;
}

aside ul{
    list-style-image: url(./images/point002_10.gif);
}

aside a{
    color: #000000;
    text-decoration: none;
}

/* ナビゲーションメニュー */
nav ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0;
}

nav li{
    display: inline;
    font-size: 12px;
    border-right: solid 1px #aaaaaa;
    padding-left: 10px;
    padding-right: 10px;
}

nav li:first-child{
    border-left: solid 1px #aaaaaa;
}

nav {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: -25px;
    margin-bottom: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

/* お知らせページ */
#posts article img {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 187px;
}

#posts article h1{
    font-size: 24px;
}

#posts section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;    
}

#posts header{
    margin-bottom: 20px;
}

#posts time{
    font-size: 12px;
    color: #fff;
    background-color: #bdbc8f;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
}

#posts article a {
    color: #000000;
    text-decoration: none;
    display: block;
    overflow: hidden;
    padding: 20px;
}

#posts article a:hover{
    background-color: #ffe792;
}

#posts article{
    padding: 0;
}

/* トップページ */

#photo {
    background-image: url(./images/beach.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: lemonchiffon;
    padding-top: 320px;
    padding-bottom: 80px;
}

#photo h1{
    color: white;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;    
    text-shadow: 0 5px 10px black;
}

#photo p{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 5px 10px black;    
}

#photo a{
    background-color: #ffaa00;
    background-image: linear-gradient(to bottom, white 0%, #ffaa00 100%);
    padding: 10px 80px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#top header{
    margin-bottom: 0;
}

/* アバウトページ */
table, th, td{
    border: solid 1px #aaa;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

th, td{
    padding: 10px 20px 10px 20px;
}

th{
    width: 150px;
    background-color: orange;
    text-align: left;
}

td{
    width: 450px;
    background-color: #ffedce;
}

caption{
    font-weight: bold;
    background-color: yellowgreen;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

/* お問合せページ */
input, textarea{
    display: block;
}

input{
    width: 400px;
}

input[type="submit"] {
    width: 100px;
    background-color: orange;
    background-image: linear-gradient(to bottom, white 0%, orange 100%);
    border: solid 1px #aaa;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea{
    width: 600px;
    height: 120px;
}

/* 段組み */
#container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    width: 500px;
    float: left;
}

#menu{
    width: 270px;
    float: right;
}

#content article{
    width: auto;
}

#content article img {
    width: 400px;
}

#menu aside{
    background-color: #fff;
    border: solid 1px #aaa;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px #aaa;
    border-radius: 20px;
}

/* ヘッダー */
header {
    background-color: #fff;
    border: solid 1px #aaa;
    margin-bottom: 30px;
    box-shadow: 0px 1px 7px #aaa;
    padding: 5px;
}

header h1 img {
    vertical-align: -10px;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header h1 a {
    text-decoration: none;
    color: #000000;
}

header h1 a:hover{
    color: #000000;
}

article, #message {
    background-color: #fff;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #aaa;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 3px #aaa;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;  /* float扱いを無視しない */
}

article a {
    text-decoration: none;
}

footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

figure.photo-center{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

figure.photo-left{
    margin:0;
    margin-right: 20px;
    float: left;
    text-align: center;
}

figure.photo-right{
    margin:0;
    margin-left: 20px;
    float: right;
    text-align: center;
}

figure.photo-right img {
    width : 200px;
}